<P class="text-title"><%= @posts.title %></P>
<P class="text-body"><%= @posts.body %></P>



<h6>コメント一覧</h6>
<% if @comments %>
  <% @comments.each do |comment| %>
  <%= comment.text %><br>
  <% end %>
<% end %>

<% if current_user %>
<%= form_tag("/posts/#{@posts.id}/comments", method: :post) do %>
  <textarea cols="30" name="text" placeholder="コメントする" rows="2"></textarea>
  <input type="submit" value="SENT">
  <% end %>
<% end %>
